<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/tilt.yaml" command="load"/>
    <node name="tilt_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                motor1_controller
		motor2_controller
		motor3_controller
		motor4_controller
		motor5_controller
		motor6_controller
		motor7_controller
		motor8_controller
		motor9_controller
		motor10_controller
		motor11_controller
		motor12_controller
		motor13_controller
		motor14_controller
		motor15_controller
		motor16_controller
		motor17_controller
		motor18_controller
		motor19_controller"
          output="screen"/>
</launch>
